@font-face {
  font-family: myFirstFont;
  src: url(../../components/assests/GT-Walsheim-Pro-Light.ttf);
}

.main_block{
    /* font-family: 'Inconsolata', monospace; */
    font-family: myFirstFont;
    font-size: 19px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1em;
    margin-top: -1em;
    height: 90vh;
    align-items: center;
}

.sub_block{
    text-align: justify;
    letter-spacing: 1px;
    order: 1;
    display: inline-block;
    padding: 1em;
    line-height: 1.4;
    color: #2b2b2b;
}

/* .sub_block  */

.image_block{
    display: inline-block;
    order: 2;
    object-fit: contain;
    width: 330px;
    height: auto;
    margin: 20px;
}

.image_quote {
    display: block;
    width: 100%;
    height: auto;
    max-width: 350px;
}

.icons_block{
    display: inline-block;
    position: relative;
    top: 6px;
    left: 10px;
}

.icons_block img{
    width:25px;
    margin: 5px 10px;
}

.icons_block a img{
  transition: transform 0.2s ease-in-out;
}

.icons_block img:hover{
  transform: translate(0, -5px);

}

@media only screen and (max-width: 800px) {
  .main_block{
    font-size: 15px;
  }
  .icons_block img{
    width: 20px;
  }
  .hi{
    width: 100vw;
    display: block;
  }
}