.main_block{
    font-family: 'Inconsolata', monospace;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1em;
    margin-top: -1em;
    height: 90vh;
    align-items: center;
}

.sub_block{
    text-align: justify;
    letter-spacing: 0.5px;
    order: 1;
    display: inline-block;
    margin: 1em;
    line-height: 1.4;
    color: #2b2b2b;
}

.image_block{
    display: inline-block;
    order: 2;
    object-fit: contain;
    width: 330px;
    height: auto;
    margin: 20px;
}

.image_quote {
    display: block;
    width: 100%;
    height: auto;
    max-width: 350px;
}

.icons_block{
    display: inline-block;
    position: relative;
    top: 6px;
    left: 10px;
}

.icons_block img{
    width:25px;
    margin: 5px 10px;
}