.spin {
  animation: rotation 8s infinite linear;
  position: relative;
  top: 4px;
  left: 5px;
  width: 27px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.project_grid {
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}

.container {
  padding: 100px 120px 0 120px;
}

.heading {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgb(9, 50, 82);
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 1.2rem;
}

.heading h2 {
  display: inline-block;
  margin-top: 10px;
}

.heading img {
  vertical-align: top;
  position: relative;
  top: 6px;
  left: 5px;
}

.heading_icon{
  display: inline-block !important;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 50px 10px;
  }
  .heading {
    font-size: 1.1em;
  }
}

@media (max-width: 1080px){
  .project_grid{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
