.App{
  margin: 0 auto;
}

.separator{
  height : 5%;
  margin: 4em 2em 1em 2em;
  width: 100%;
}

.brand{
  color: #D61313;
  font-size: 1.1em;
  padding-top: 2em;
  text-align: center;
}

.background{
  background-color: #b4c5cf;
  position: absolute;
  z-index: -10;
  height: 80vh;
  width: 35vw;
  top: 10%;
  right: 0;
}