.App {
  margin: 0 auto;
  box-sizing: border-box;
}

.brand {
  color: rgb(9, 88, 148);
  font-size: 1.1em;
  padding-top: 2em;
  text-align: center;
}

.main-holder {
  padding: 0 150px;
}

main {
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  .main-holder {
    padding: 0 25px;
  }
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}